bmd/src/mail_sender/soap/tools/ns.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <schema targetNamespace="ns.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="ns.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="awizoConfig">
   <sequence>
     <element name="smtpAddr" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="smtpPort" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="smtpUser" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="smtpPswd" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="awizoSuccess" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="awizoFailed" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="allowImageAbsent" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="csvDir" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="csvSeparator" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pfxfile" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pfxPIN" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="maxImageSize" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="awizoAction" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="mailqueue" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="maxcachesize" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="maxmailqueue" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="sendingtime" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="awizoMessage">
   <sequence>
     <element name="value" type="xsd:base64Binary" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="dateTimeComplexList">
   <sequence>
    <element name="item" type="ns:ns-dateTime" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="senderComplex">
   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="email" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="created" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="deleted" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="smtpaddr" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="smtpport" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="smtpuser" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="smtppassword" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pfxfile" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="pfxpin" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="maximagesize" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="csvdir" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="csvseparator" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="awizoaction" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="allowimageabsent" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="smsapiurl" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="smsapierror" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="templateComplex">
   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="created" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="deleted" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="messagesenderid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="lang" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="version" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="xsltohtml" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="xsltotext" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="sign" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="attachmentComplex">
   <sequence>
     <element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="created" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="deleted" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="templateid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="filename" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="mimetype" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="disposition" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="text" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="senderComplexList">
   <sequence>
    <element name="item" type="ns:senderComplex" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="awizoGetSendersList">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoGetSendersListResponse">
   <complexType>
    <sequence>
     <element name="senderList" type="ns:senderComplexList" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoInsertTemplate">
   <complexType>
    <sequence>
     <element name="emailTemplate" type="ns:templateComplex" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoInsertTemplateResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoDeleteTemplate">
   <complexType>
    <sequence>
     <element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoDeleteTemplateResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoDownloadTemplate">
   <complexType>
    <sequence>
     <element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoDownloadTemplateResponse">
   <complexType>
    <sequence>
     <element name="emailTemplate" type="ns:templateComplex" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoChangeTemplateInfo">
   <complexType>
    <sequence>
     <element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="emailTemplate" type="ns:templateComplex" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoChangeTemplateInfoResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoInsertAttachment">
   <complexType>
    <sequence>
     <element name="emailAttachment" type="ns:attachmentComplex" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoInsertAttachmentResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoDeleteAttachment">
   <complexType>
    <sequence>
     <element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoDeleteAttachmentResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoDownloadAttachment">
   <complexType>
    <sequence>
     <element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoDownloadAttachmentResponse">
   <complexType>
    <sequence>
     <element name="emailAttachment" type="ns:attachmentComplex" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoChangeAttachmentInfo">
   <complexType>
    <sequence>
     <element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="emailAttachment" type="ns:attachmentComplex" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoChangeAttachmentInfoResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoInsertSender">
   <complexType>
    <sequence>
     <element name="sender" type="ns:senderComplex" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoInsertSenderResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoDeleteSender">
   <complexType>
    <sequence>
     <element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoDeleteSenderResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoGetSenderInfo">
   <complexType>
    <sequence>
     <element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoGetSenderInfoResponse">
   <complexType>
    <sequence>
     <element name="sender" type="ns:senderComplex" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoChangeSenderInfo">
   <complexType>
    <sequence>
     <element name="id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="sender" type="ns:senderComplex" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoChangeSenderInfoResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoSend">
   <complexType>
    <sequence>
     <element name="message" type="ns:awizoMessage" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoSendResponse">
   <complexType>
    <sequence>
     <element name="msgID" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoSetFromMsgQueueSend">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoSetFromMsgQueueSendResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="clearCache">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="clearCacheResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="clearMailQueue">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="clearMailQueueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="countMailFromQueue">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="countMailFromQueueResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="stopSendingProcess">
   <complexType>
    <sequence>
     <element name="awizo-switch" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="stopSendingProcessResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="changeConfiguration">
   <complexType>
    <sequence>
     <element name="conf" type="ns:awizoConfig" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="changeConfigurationResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="awizoSendSMS">
   <complexType>
    <sequence>
     <element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="to" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="awizoSendSMSResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="addAdviceDispatchSetting">
   <complexType>
    <sequence>
     <element name="message" type="ns:awizoMessage" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="dateTime" type="ns:dateTimeComplexList" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="addAdviceDispatchSettingResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="changeAdviceDispatchSetting">
   <complexType>
    <sequence>
     <element name="dispatchSettingId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
     <element name="message" type="ns:awizoMessage" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="dateTime" type="ns:dateTimeComplexList" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="changeAdviceDispatchSettingResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="removeAdviceDispatchSetting">
   <complexType>
    <sequence>
     <element name="dispatchSettingId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="removeAdviceDispatchSettingResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
 </schema>

